$text_color: #222 !default;
$link_color: $text_color !default;
$field_label_color: $text_color !default;
$hairline_color: rgba(0, 0, 0, 0.1) !default;
$base_line_height: 1.3 !default;
$base_font_size: 14px !default;
$background_color: #fff !default;
