@mixin fade_on_hover {
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.7;
    transition: none;
  }
}

@mixin clear_after {
  &:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
  }
}

@mixin unselectable {
  user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

@mixin selection {
  background: $selection_background_color;
  color: $selection_color;
}

@mixin text_shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

@mixin text_bevel {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

@mixin inherit_styles {
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-shadow: none;
  background: none;
  box-shadow: none;
  outline: 0;
  outline: none;
  text-transform: inherit;
  text-decoration: inherit;
}
