.CalendarSelector {
  padding: 5px;
  white-space: nowrap;
  @include unselectable;

  .CalendarSelector_main {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    .CalendarSelector_page_link {
      cursor: pointer;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: stretch;

      button {
        @include button("outline");
        display: flex;
        align-items: center;
        opacity: 0.7;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          opacity: 1.0;
        }

        &:before {
          @extend .ion;
          font-size: 30px;
        }

        span {
          display: none;
        }
      }

      &.CalendarSelector_previous_page_link {
        margin: 0 10px 0 0;
        button:before {
          content: $ionicon-var-ios-arrow-left;
        }
      }

      &.CalendarSelector_next_page_link {
        margin: 0 0 0 10px;
        button:before {
          content: $ionicon-var-ios-arrow-right;
        }
      }
    }

    .CalendarSelector_pages {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 10px;

      .CalendarSelector_page {
        display: inline-block;
        padding: 0 10px;

        & + .CalendarSelector_page {
          border-left: solid 1px rgba(0, 0, 0, 0.2);
        }

        h4 {
          font-size: 0.9rem;
          font-weight: inherit;
          margin: 0;
          padding: 5px;
          text-transform: uppercase;
          text-align: center;

          .CalendarSelector_month {
            float: left;
          }

          .CalendarSelector_year {
            float: right;
          }

          .CalendarSelector_month,
          .CalendarSelector_year {
            a {
              &:before {
                @extend .ion;
                content: $ionicon-var-ios-circle-outline;
                color: $link_color;
                font-size: 150%;
                margin: 0 5px 0 0;
                vertical-align: middle;
                position: relative;
                top: -1px;
              }
            }
          }

          @include clear_after;
        }

        &[data-is-month-selected=true] h4 .CalendarSelector_month a:before,
        &[data-is-year-selected=true] h4 .CalendarSelector_year a:before {
          content: $ionicon-var-checkmark-circled;
        }
        &:first-child h4 {
          padding-left: 0;
        }

        table {
          font-size: 0.7rem;

          td, th {
            padding: 0;
            text-align: center;

            &[data-day-of-week="0"] {
              color: #a30;
            }
          }

          thead {
            tr {
              th {
                padding: 5px;

                .CalendarSelector_weekDayName {

                }
              }
            }
          }

          tbody {
            tr {
              &:nth-child(odd) {
                td {
                  background: rgba(0, 0, 0, 0.02);
                }
              }

              td {
                cursor: pointer;
                transition: background 0.3s ease-out,
                  color 0.3s ease-out,
                  opacity 0.3s ease-out;

                .CalendarSelector_day,
                .CalendarSelector_empty_cell {
                  display: block;
                  padding: 2px 5px;
                }

                .CalendarSelector_day {
                  border: solid 3px $background_color;
                }

                &[data-is-today=true] {
                  .CalendarSelector_day {
                    border: solid 3px #6a1;
                    border-radius: 3px;
                  }
                }

                &[data-is-focused=true] {
                  .CalendarSelector_day {
                  }
                }

                &[data-is-selected=true] {
                  transition: none;
                  //border-color: transparent;
                  .CalendarSelector_day {
                    @include text_shadow;
                    @include selection;
                  }
                  &:hover {
                    @include selection;
                    text-shadow: none;
                    opacity: 0.8;
                  }
                }

                &:hover {
                  .CalendarSelector_day {
                    transition: none;
                    text-shadow: none;
                    background: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
          }

          &[data-has-selection=true] {
            td {
              transition: none;
              &[data-is-selected=false] {
                .CalendarSelector_day {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }

  .CalendarSelector_clear {
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0 0 0;
  }
}
