$form_control_color: #000 !default;

.SelectList {
  min-width: 100px;
  white-space: nowrap;
  line-height: $base_line_height;

  ol {
    margin: 0;
    list-style: none;
    padding: 5px 0;
    li {
      a {
        cursor: pointer;
        padding: 5px 10px;
        display: table;
        transition: background 0.3s ease-out;
        color: inherit;
        width: 100%;

        > span {
          display: table-cell;
          vertical-align: baseline;
          width: 100%;
        }

        > .count {
          display: table-cell;
          vertical-align: baseline;
          color: #888;
          padding: 0 0 0 15px;
          max-width: 20%;
          text-align: right;
          font-size: $base_font_size / 1.1;
        }

        &:hover {
          color: inherit;
          text-decoration: none;
        }

        &:visited, &:active {
          color: inherit;
        }
      }

      &[data-current="true"] {
        a {
          background: $current_background_color;
        }
      }

      &:hover {
        a {
          background: $selection_background_hover_color;
        }
      }
    }
  }

  .SelectList_group {
    .SelectList_group_heading {
      text-align: center;
      opacity: 0.8;
      text-transform: uppercase;
      font-size: 80%;
      cursor: pointer;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      padding: 5px 0;
    }

    & + .SelectList_group {
      margin-top: 0;
    }

    > ol {
      padding: 0;
    }
  }

  &[data-multi-select="false"] {
    ol {
      li {
        &[data-selected="true"] {
          a {
            @include selected;
          }
        }
      }
    }
  }

  &[data-multi-select="true"] {
    ol {
      li {
        a {
          &:before {
            @extend .ion;
            color: $form_control_color;
            opacity: 0.5;
            content: $ionicon-var-android-checkbox-outline-blank;
            padding-right: 5px;
            font-weight: normal;
          }

          &:hover {
            &:before {
              visibility: visible;
              opacity: 0.3;
            }
          }
        }

        &[data-selected="true"] {
          a {
            font-weight: 600;

            &:before {
              font-weight: normal;
              content: $ionicon-var-android-checkbox;
              opacity: 1.0;
            }
          }
        }
      }
    }
  }
}

.dropdown_menu_button_dropdown {
  .SelectList {
    font-size: $base_font_size * (16 / 12.0);
  }
}
